body{
    font-family:"Arial Black" ;
text-align: center;
    background-color:yellow ;
    padding: 20px;
}
h1{
    color: #cad3dc;
}
button{
    background-color: white;
    border-radius: 10px;
    border: none;

    font-size: 20px;
}

button:hover{
    cursor:none

}
